<div *ngFor="let item of items$">
  <orders-item-ok [id]="item.id"
               [title]="item.title"
               [text]="item.text"
               [image] ="item.image">
  </orders-item-ok>
</div>
