<div class="card" style="width: 22rem;">
  <img class="card-img-top" [src]="image">
  <div class="card-body">
    <h5 class="card-title">
      {{title}}
    </h5>
    <p class="card-text">
      {{text}}
    </p>
    <a class="btn btn-primary" [routerLink]="['orders/detail/'+id]" alt="...">
      Więcej...
    </a>
  </div>
</div>
